.map-container {
    height: 600px; /* height must be specified or map will not appear */
}

.iconfilter {
    font-size: 1.5rem;
}

.iconfilter-hover {
    color: cornflowerblue
}

.iconfilter-clicked {
    color: green
}